input[type="button"] {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-left: 45%;
}

input[type="button"]:hover {
    background-color: #45a049;

}

body {
    font-family: 'Arial', sans-serif;

}

header {
    background-color: rgb(117, 117, 225);
    color: #fff;
    text-align: center;
    padding: 20px;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 1.2em;
}

a:hover {
    background-color: blue;
}

.Q {
    font-size: 2.2em;
    text-align: center;
    font-weight: bold;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}


a:hover {
    background-color: rgb(101, 101, 252);
}




body {

    justify-content: space-around;

}

#left-column {
    width: 45%;
    display: inline-block;

    margin: 50px;
}

#right-column {
    width: 45%;
    display: inline-block;

}




form {
    margin-top: 20px;
}